<form action="/" method="post">
    <label for="item">Item: </label>
    <input type="text" name="item" placeholder="e.i. buy eggs" autocomplete="off">
    <button type="submit" name="button" value="<%= name %>">Add Item</button>
</form>
