<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/Work">Work</a></li>
        <li><a href="/School">School</a></li>
    </ul>
</nav>