<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">
        <title>To Do List - App</title>
    </head>
    <body>

        <%- include('../partials/header'); -%>

        <p>
            <strong><%= currentDate %></strong>
        </p>

        <form action="/items" method="post">
            <label for="item">Item: </label>
            <input type="text" name="item" placeholder="e.i. buy eggs" autocomplete="off">
            <button type="submit">Add Item</button>
        </form>

        <section>
            <h3>Items</h3>
            <% if(items.length == 0){ %>
                <p>Start adding items to your list by typping in the input above.</p>
            <% }else{ %>
                <ul>
                    <% for(let i = 0; i < items.length; i++){ %>
                        <li><%= items[i] %></li>
                    <% } %>
                </ul>
            <% } %>
        </section>

        <%- include('../partials/footer'); -%>

    </body>
</html>